{% extends "layout.html" %}
{% block container %}
{% import "_macros.html" as macros %}
 
<form class="max-w-sm mx-auto mt-5" method="post" unvalidated>
   {{form.csrf_token}}
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
  <div class="mb-5">
    {{macros.campoNuevo(form.nombre, class="block mb-2.5 text-sm font-medium text-heading")}}
  </div>
  <div class="mb-5">
    {{macros.campoNuevo(form.aPaterno, class="block mb-2.5 text-sm font-medium text-heading")}}
  </div>
    <div class="mb-5">
      {{macros.campoNuevo(form.email, class="block mb-2.5 text-sm font-medium text-heading")}}
  </div>
  <div class="mt-4 flex justify-between">
    
    <button type="submit"
        class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">
        Agregar
    </button>

    <a href="{{ url_for('index') }}"
       class="text-white bg-gray-600 hover:bg-gray-700 font-medium rounded-base text-sm px-4 py-2.5">
        Regresar
    </a>

</div>
</form>
 
{% endblock %}