{% extends "layout.html" %}
{% block container %}
{% import "_macros.html" as marcos %}

  <div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default mt-10">
    <a href="Alumnos" class="bg-green-500 text-white px-4 py-2 rounded flex items-center gap-2">Nuevo</a>
      <table class="w-full text-sm text-left rtl:text-right text-body">
          <thead class="bg-neutral-secondary-soft border-b border-default">
              <tr>
                  <th scope="col" class="px-6 py-3 font-medium">
                      Nombre
                  </th>
                  <th scope="col" class="px-6 py-3 font-medium">
                    Apaterno
                  </th>
                  <th scope="col" class="px-6 py-3 font-medium">
                      Correo
                  </th>
                  <th scope="col" class="px-6 py-3 font-medium">
                      Editar
                  </th>
                  <th scope="col" class="px-6 py-3 font-medium">
                      Detalles
                  </th>
                  <th scope="col" class="px-6 py-3 font-medium">
                      Eliminar
                  </th>
              </tr>
          </thead>
          <tbody>
          {% for alum in alumno %}
              <tr class="odd:bg-neutral-primary even:bg-neutral-secondary-soft border-b border-default">
                  <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                      {{alum.nombre}}
                  </th>
                  <td class="px-6 py-4">
                      {{alum.apaterno}}
                  </td>
                  <td class="px-6 py-4">
                      {{alum.email}}
                  </td>
                  <td class="px-6 py-4 text-center">
                   <a href="modificar?id={{alum.id}}"
                       class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-xs px-4 py-2 focus:outline-none transition">
                        Editar
                    </a>
                </td>
                <td class="px-6 py-4 text-center">
                    <a href="/detalles?id={{alum.id}}"
                       class="text-gray-900 bg-white border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-xs px-4 py-2 focus:outline-none transition">
                        Detalles
                    </a>
                </td>
                <td class="px-6 py-4 text-center">
                    <a href="/eliminar/{{alum.id}}"
                       onclick="return confirm('¿Estás seguro de eliminar este registro?')"
                       class="text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-xs px-4 py-2 focus:outline-none transition">
                        Eliminar
                    </a>
                </td>
              </tr>
           {% endfor %}
          </tbody>
      </table>
  </div>

{% endblock %}